POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=fileproc

RABBITMQ_DEFAULT_VHOST=rabbit
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
REDIS_URL=redis://redis:6379/0

LLM_API_URL=http://127.0.0.1:1234/v1

AWS_ACCESS_KEY_ID=access_key
AWS_SECRET_ACCESS_KEY=secret_key
AWS_BUCKET_NAME=fileprocessing
AWS_ENDPOINT_URL=https://storage.yandexcloud.net
AWS_REGION_NAME=ru-central1